.vscode
build/*
install/*
log/*
logs/*
joint_plots/*
foot_force_plots/*
docs/*
src/estimations/dependencies_and_tools/livox_imu_converter/livox_imu_converter/*
src/estimations/dependencies_and_tools/ws_livox/build/*
src/estimations/dependencies_and_tools/ws_livox/log/*
src/estimations/dependencies_and_tools/fast_livo2_relocation/log/*
src/estimations/dependencies_and_tools/fast_livo2_relocation/src/FAST-LIVO2/log/*
record_commands.sh
plot_joint_curves.py
*.log
*.tmp
*.bak
mybot/assets/*.obj