<?xml version="1.0"?>

<robot name="mybot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- 配置参数 -->
  <xacro:arg name="DEBUG" default="false"/>
  <xacro:arg name="GAZEBO" default="false"/>
  <xacro:arg name="CLASSIC" default="false"/>
  <xacro:arg name="USE_CAMERA" default="true"/>
  <xacro:arg name="USE_LIDAR" default="true"/>

  <!-- 包含 mybot 配置文件 -->
  <xacro:include filename="$(find mybot_description)/xacro/my_common/materials.xacro"/>
  <xacro:include filename="$(find mybot_description)/xacro/my_common/imu.xacro"/>
  <xacro:include filename="$(find mybot_description)/xacro/mybot/robot_body.xacro"/>

  <!-- Gazebo 或控制器配置 -->
  <xacro:if value="$(arg GAZEBO)">
    <xacro:if value="$(arg CLASSIC)">
      <xacro:include filename="$(find mybot_description)/xacro/gazebo_classic.xacro"/>
    </xacro:if>
    <xacro:unless value="$(arg CLASSIC)">
      <xacro:include filename="$(find mybot_description)/xacro/gazebo.xacro"/>
    </xacro:unless>
  </xacro:if>
  <xacro:unless value="$(arg GAZEBO)">
    <xacro:include filename="$(find mybot_description)/xacro/ros2_control.xacro"/>
  </xacro:unless>

  <!-- 网格文件路径（使用 package:// 以兼容资源检索） -->
  <xacro:property name="mesh_path" value="package://mybot_description/meshes"/>

  <!-- Debug 模式：固定机器人到世界坐标系 -->
  <xacro:if value="$(arg DEBUG)">
    <link name="world"/>
    <joint name="base_static_joint" type="fixed">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <parent link="world"/>
      <child link="base"/>
    </joint>
  </xacro:if>

  <!-- 创建 mybot 机器人主体和腿部 -->
  <xacro:mybot_body mesh_path="${mesh_path}"/>

  <!-- IMU 传感器 -->
  <xacro:IMU connected_to="trunk" imu_name="base_imu" xyz="0 0 0" rpy="0 0 0"/>

  <!-- 前置相机 (可选) -->
  <xacro:if value="$(arg USE_CAMERA)">
    <joint name="camera_joint_front" type="fixed">
      <parent link="trunk"/>
      <child link="front_camera"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </joint>
    <link name="front_camera">
      <inertial>
        <mass value="0.1"/>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <inertia ixx="0.00001" ixy="0" ixz="0" iyy="0.00001" iyz="0" izz="0.00001"/>
      </inertial>
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <box size="0.05 0.05 0.05"/>
        </geometry>
        <material name="grey"/>
      </visual>
    </link>
  </xacro:if>

  <!-- LIDAR 传感器 (可选) -->
  <xacro:if value="$(arg USE_LIDAR)">
    <joint name="lidar_joint" type="fixed">
      <parent link="trunk"/>
      <child link="lidar"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </joint>
    <link name="lidar">
      <inertial>
        <mass value="0.2"/>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <inertia ixx="0.00002" ixy="0" ixz="0" iyy="0.00002" iyz="0" izz="0.00002"/>
      </inertial>
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <cylinder radius="0.04" length="0.07"/>
        </geometry>
        <material name="black"/>
      </visual>
      <collision>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <cylinder radius="0.04" length="0.07"/>
        </geometry>
      </collision>
    </link>
  </xacro:if>

</robot>
